.venv
__pycache__
backend/services/credentials.json
backend/services/token.json
frontend
backend/.env
backend/token.json
backend/credentials.json
docker-compose.yml
backend/src/app/token.json
backend/src/app/credentials.json
backend/src/app/.env
