.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #1e293b #0f172a;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #0f172a;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #1e293b;
  border-radius: 4px;
  border: 2px solid #0f172a;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #334155;
}